<div class="row mx-auto alert alert-success">
    <div class="col-md-6">
        <h2>Order Complete</h2>
        <hr />
        <h4>Thank you for your order!</h4>
        <p>Your order has been successfully processed.</p>
        <a asp-controller="Movie" asp-action="Index" class="btn btn-primary">Back to Movies</a>
    </div>
</div>