<div class="row mx-auto alert alert-danger">
    <div class="col-md-6 mx-auto text-center">
        <h2>Access Denied</h2>
        <hr />
        <h4>Yor are not allowed to access this page</h4>
        <p>Please click the following button to be redirected to the home page</p>
        <a asp-controller="Movie" asp-action="Index" class="btn btn-primary">Back to Movies</a>
    </div>
</div>